{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ul>
  {% for student in object_list %}
    <li>{{ student.name }} {{ student.group }}
      {% if student.teachers.count %}
        <br> Преподаватели:
        <ul>
          <li>
            {% for teacher in student.teachers.all %}
              {{ teacher.name }} {{ teacher.subject }}
            {% endfor %}
          </li>
        </ul>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
