{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2><a href="{% url 'book' book.id %}">{{ book.name }}</a></h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: <a href="{% url 'books_by_date' book.pub_date.isoformat %}">{{ book.pub_date.isoformat }}</a> </p>
                </div>
            {% endfor %}
        </div>
        {% if by_date %}
            <div>
                {% if prev_pub_date %}
                    <a href="{% url 'books_by_date' prev_pub_date.isoformat %}">< {{ prev_pub_date.isoformat }}</a>
                {% endif %}
                {% if next_pub_date %}
                    <a href="{% url 'books_by_date' next_pub_date.isoformat %}">{{ next_pub_date.isoformat }} ></a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}